@import 'variables';


.profile-pic-container{
    width: 250px;
    text-align: center;
    line-height: 2;
    // padding: .6em 1em;
    background-color: white;
    border-radius: 12px;
    box-shadow: 10px 10px 10px rgba(0,0,0,.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    .title{
        margin-bottom: 22px;
    }
    p{
        font-size: 1.6rem;
        font-weight: bold;
        cursor: pointer;
        &:nth-of-type(2){
          
            color:red;
        }
        &:nth-of-type(3){
     
    }
}
}

.label{
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    color:$blue;
}

#upload{
    display: none;
}

hr{
    color:#dbdbdb

}